@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Today is @DateTime.Now.ToString()</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor, dolor ut mattis aliquam, sapien purus gravida eros, eu accumsan orci libero in felis. Proin auctor rutrum dolor, et tempus mi porttitor ut. Integer volutpat leo sit amet accumsan ultrices. Nulla mattis mauris finibus, tempus augue at, pretium metus. Nulla porta enim id pretium laoreet. Pellentesque et risus viverra, vulputate risus eget, gravida dui. Suspendisse imperdiet pretium sapien ut lobortis.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Curabitur nec nulla elit. Vestibulum fermentum tristique urna eget rutrum. Pellentesque sollicitudin dictum felis non viverra. Duis tristique neque ornare, porttitor sapien egestas, sollicitudin eros. Fusce sit amet mauris vehicula, laoreet leo et, maximus ex. Nullam sollicitudin nisi diam, quis consequat erat ultricies sagittis
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor sit ame</h2>
        <p>
            Ut eget eleifend urna, molestie vehicula ipsum. Ut ligula augue, pharetra at mauris vel, sagittis dictum magna. Morbi id libero neque. Vestibulum consectetur metus condimentum, vestibulum ipsum dictum, vulputate nibh. Etiam finibus tristique mattis.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something new here maybe</h2>
        <p>
            Phasellus ligula orci, auctor interdum lectus vehicula, fringilla interdum sem. Vestibulum dapibus eros sit amet erat suscipit, eget convallis urna lacinia. Nam congue purus nec luctus molestie. Pellentesque sapien magna, tincidunt quis nunc et, porttitor ultricies massa. Nullam vel dictum nibh
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>